{% load i18n %}

{% block menu_subscriptions %}
    Info
    <ul class="menu">
         <li{% if selected == "description" %}id="selected"{% endif %}>
            <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                {% trans "Description" %} Link:TODO
            </a>
         </li>
         <li{% if selected == "subscribe" %}id="selected"{% endif %}>
            <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                {% trans "Subscribe" %} Link:TODO
            </a>
            <ul class="menu">
                 <li{% if selected == "join_adress" %}id="selected"{% endif %}>
                    <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                        {% trans "Join Adress" %} Link:TODO
                    </a>
                </li>  
                <li{% if selected == "owner_adress" %}id="selected"{% endif %}>
                    <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                        {% trans "Owner Adress" %} Link:TODO
                    </a>
                </li>   
                <li{% if selected == "mass_subscribe" %}id="selected"{% endif %}>
                    <a href="{% comment %}{% url mass_subscribe fqdn_listname %}TODO add List{% endcomment %}">
                        {% trans "Mass subscribe" %} 
                    </a>
                </li>                   
            </ul>
        </li>  
        <li{% if selected == "remove" %}id="selected"{% endif %}>
            <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                {% trans "Remove" %} Link:TODO
            </a>
            <ul class="menu">
                 <li{% if selected == "leave_adress" %}id="selected"{% endif %}>
                    <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                        {% trans "Leave Adress" %} Link:TODO
                    </a>
                </li>  
            </ul>            
        </li>  
    </ul>
{% endblock%}
