include COPYING
include ez_setup.py
include *.rst
recursive-include src/postorius *.py *.html *.js *.rst *.txt
prune src/postorius/doc/_build
graft src/postorius/static
include src/postorius/doc/Makefile
include dev-requirements.txt tox.ini
recursive-include testing *.py *.cfg
graft src/postorius/tests/fixtures
