body {
    font-color: #444;
}
h1 {
    clear: both;
    margin: 20px 0;
}
h1 span {
    font-size: 75%;
    font-style: italic;
}

.mm_canvas {
    width: 960px;
    margin: 0 auto;
}

/***** meta nav *****/
.mm_header {
    padding: 5px;
    background-image: -webkit-linear-gradient(#FAFAFA, #EFEFEF);
    background-image: -moz-linear-gradient(#FAFAFA, #EFEFEF);
    border-bottom: 1px solid #CACACA;
}
.mm_metaNav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
}
.mm_metaNav li {
    float: left;
    margin-left: 20px;
}
.mm_metaNav a {
    text-decoration: none;
    color: #444;
    padding: 5px 0 5px 5px;
    text-shadow: #fff 0px 1px 1px;
}
.mm_metaNav .mm_todos,
.mm_metaNav .mm_settings,
.mm_metaNav .mm_user {
    background-color: transparent;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
.mm_todos { background-position: 0px 5px; }
.mm_settings { background-position: 0px -30px; }
.mm_user { background-position: 0px -65px; }
.mm_todos:hover { background-position: 0px -100px; }
.mm_settings:hover { background-position: 0px -135px; }
.mm_user:hover { background-position: 0px -170px; }

.mm_nav {
    padding: 20px 0 30px 0;
    margin: 0;
    float: right;
}
.mm_nav li {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0 0 0 10px;
}
.mm_nav li a {
    font-weight: bold;
    font-size: 14px;
}

/* forms */
fieldset {
    border: none;
}
legend {
    border: none;
}
