/*************************
 * Forms 
 *************************/

form ul {
    list-style-type:none;
    }

input, select {
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	left:50%;
	width: 50%;
	padding: 2px;
	float:right;
}

input[type="radio"], input[type="checkbox"] {
    float:none;
    }

input[type="submit"], 
input.button { 
    width: auto;
    margin-right: 10px;
}
.errorlist {
	float: right;
	width: 300px;
	list-style: none;
	margin: 0 0 0 15px;
	padding: 0;
	color: red;
}
form div.field {
	clear: both;
	padding-top: 10px;
}
label {
	clear: both;
	display: block;
}
button {
	margin-top: 5px;
}


.languages ul {
    column-count: 3;
    -moz-column-count: 3;
}
