{% extends extend_template %}
{% load i18n %}

{% block main %}
    {% include 'mailmanweb/menu/list_nav.html' %}
    <h1>{{list.real_name}} <span>- {{list.fqdn_listname}}</span></h1>

    <ul class="nav nav-pills">
        {% for section in form_sections %}
        <li {% if section.0 == visible_section %}class="active"{% endif %}><a href="{% url list_settings fqdn_listname=list.fqdn_listname visible_section=section.0 visible_option=None %}">{{section.0}}</a></li>
        {% endfor %}
    </ul>

    {% if visible_section %}
        <form class="well" action="{% url list_settings fqdn_listname=list.fqdn_listname visible_section=visible_section visible_option=visible_option %}" method="post" class="list_settings">
            {{ form.as_p }}
	        <button class="btn btn-primary" type="submit">{%trans "Save changes" %}</button>
        </form>
    {% endif %}


{% endblock %}
