<!doctype html>
{% load i18n %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--><!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--><!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--><!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--><head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{MEDIA_URL}}/images/favicon.ico">
	<link rel="apple-touch-icon" href="{{MEDIA_URL}}images/apple-touch-icon.png">
	
	<link rel="stylesheet" href="{{MEDIA_URL}}{{MAILMAN_THEME}}/css/style.css?v=2">
	
	<script src="{{MEDIA_URL}}js/public/libs/modernizr-1.7.min.js"></script>
</head>
<body>HALLO
    <div id="mm_page">
        <h1>{% block heading %}{% endblock %}</h1>
        {% block header%}{% endblock %}
        {% block actionButtonsList %}{% endblock %}
        {% block smallBoxLeft %}{% endblock %}
        {% block smallBoxRight %}{% endblock %}
        <div id="mm_footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
    Regression:<br>
    {% block content%}{% endblock %}
    {% block menu%}{% endblock %}
    <script src="{{MEDIA_URL}}js/public/libs/jquery-1.5.1.min.js"></script>
	<script src="{{MEDIA_URL}}js/public/plugins.js"></script>
	<script src="{{MEDIA_URL}}js/public/script.js"></script>
</body>
