{% extends postorius_base_template %}
{% load i18n %}
{% load bootstrap_tags %}

{% block subtitle %}
{% trans 'Add Domain' %}
{% endblock %}

{% block main %}

    <div class="page-header">
        <h2>{% trans 'Add a new Domain' %}</h2>
    </div>

    <form action="{% url 'domain_new' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {% if field.errors %}
                    <div class="alert alert-danger">{{ field.errors }}</div>
                {% endif %}
                <label class="col-md-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-md-5">{{ field|add_form_control }}</div>
                <p id="help-{{ field.id_for_label }}" class="col-md-3 help-block">
                    {{ field.help_text }}
                </p>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-primary" type="submit">{% trans 'Create Domain' %}</button>
            </div>
        </div>
    </form>

{% endblock main %}
