{% extends postorius_base_template %}
{% load i18n %}
{% load bootstrap_tags %}
{% load nav_helpers %}

{% block subtitle %}
{% trans 'Subscription Preferences' %} | {{ user.username }}
{% endblock %}

{% block main %}

    {% user_nav 'settings' 'Subscription Settings' %}

    <ul class="nav nav-tabs">
        <li class="active"><a>{% trans 'Global Mailman Preferences' %}</a></li>
        <li><a href="{% url 'user_address_preferences' %}">{% trans 'Address Based Preferences' %}</a></li>
        <li><a href="{% url 'user_subscription_preferences' %}">{% trans 'Subscription Based Preferences' %}</a></li>
    </ul>

    {% if not mm_user %}
        <div>
            <h1>{% trans 'No Preferences Available' %}</h1>
        </div>
        <p>{% trans 'You are not yet subscribed to any lists, so you have no Mailman preferences.' %}</p>
    {% else %}
        <form action="{% url 'user_mailmansettings' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            {% for field in settingsform %}
                <div class="form-group {% if field.errors %}has-errors{% endif %}">
                    {% if field.errors %}
                        <div class="alert alert-danger">{{ field.errors }}</div>
                    {% endif %}
                    <label class="control-label col-md-3" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    <div class="col-md-8">
                    {% if field|fieldtype == 'RadioSelect' %}
                        {% for choice in field %}
                            <label class="radio-inline">
                                {{ choice.tag }}
                                {{ choice.choice_label }}
                            </label>
                        {% endfor %}
                        </td>
                    {% else %}
                        {{ field|add_form_control }}
                    {% endif %}
                    </div>
                    <p id="help-{{ field.id_for_label }}" class="col-md-offset-3 col-md-8 help-block">
                        {{ field.help_text }}
                    </p>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-md-offset-3 col-md-8">
                    <button class="btn btn-primary" type="submit">{% trans 'Save changes' %}</button>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock main %}
