{% extends postorius_base_template %}
{% load i18n %}
{% load bootstrap_tags %}
{% load nav_helpers %}

{% block subtitle %}
{% trans 'Subscription Preferences' %} | {{ user.username }}
{% endblock %}

{% block main %}
    {% user_nav 'settings' %}
    <div class="panel panel-default">
        <div class="panel-heading"><h1 class="panel-title">Subscription Settings</h1></div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
             <li> <a href="{% url 'user_mailmansettings' %}">{% trans 'Global Mailman Preferences' %}</a></li>
             <li> <a href="{% url 'user_address_preferences' %}">{% trans 'Address Based Preferences' %}</a></li>
             <li class="active"><a href="#">{% trans 'Subscription Based Preferences' %}</a></li>
            </ul>
            {% if nolists %}
              <div>
                  <h1>{% trans 'No Preferences Available' %}</h1>
              </div>
              <p>{% trans 'You are not yet subscribed to any lists, so you have no Mailman preferences.' %}</p>
            {% else %}
                <form action="{% url 'user_subscription_preferences' %}" method="post" id="subscriptions_formset">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            {% for form,subscription in zipped_data %}
                                {% if forloop.first %}
                                    <thead>
                                        <tr>
                                            <th>{% trans 'Subscription' %}</th>
                                            {% for field in form.visible_fields %}
                                            <th>
                                                <label for="{{ field.id_for_label }}"><a data-toggle="tooltip" title="{{ field.help_text }}">{{ field.label }}</a></label>
                                            </th>
                                            {% endfor %}
                                        </tr >
                                    </thead >
                                {% endif %}
                                <tr>
                                    <td>{{ subscription.list_id }}</td>
                                    {% for field in form %}
                                        {% if field|fieldtype == 'RadioSelect' %}
                                            <td class="text-center">
                                            {% for choice in field %}
                                                <label class="radio-inline">
                                                    {{ choice.tag }}
                                                    {{ choice.choice_label }}
                                                </label>
                                            {% endfor %}
                                            </td>
                                        {% else %}
                                            <td>{{ field|add_form_control }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">{% trans 'Save' %}</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock main %}
{% block additionaljs %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}
