{% extends extend_template %}
{% load i18n %}

{% block main %}
    {% include 'postorius/menu/user_nav.html' %}
    <h1>{% trans 'Mailman Settings' %} <span>- {{ user }}</span></h1>

    <p><strong>Mailman display name:</strong> {{ mm_user.display_name}}</p>
    <p><strong>Django email:</strong> {{ user.email }}</p>
    <p><strong>Mailman primary email:</strong> {{ mm_user.email }}</p>
    <h2>Valid email addresses for this account:</h2>
    <ul>
    {% for address in mm_user.addresses %}
        <li>{{ address }}</li>
    {% endfor %}
    </ul>

    <h2>Preferences:</h2>
    {{ mm_user.preferences }}
    {{ mm_user }}
    {% for pref in mm_user.preferences %}
        <li>{{ pref }}</li>
    {% endfor %}
    </ul>

    <h2>List memberships:</h2>
    <p><em class="errorlist">Sample output: not real</em></p>
    <ul>
        <li>list1@example.com [<a href="#">listinfo</a>] 
            [<a href="#">settings</a>]</li>
        <li>kumquat@example.com [<a href="#">listinfo</a>] 
            [<a href="#">settings</a>]</li>
        <li>starfruit@example.com [<a href="#">listinfo</a>] 
            [<a href="#">settings</a>]</li>
    </ul>
    </ul>
<!--
    <script type="text/javascript"
src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#btnHide').click(function() {
                //if (('#description').is(":visible")) {
                    $('td:nth-child(2),th:nth-child(2)').hide('slow');
                //}
                //else {
                //    $('td:nth-child(2),th:nth-child(2)').show('slow');
                //}
            });
        });
    </script> -->
    <h2>Prefs form</h2>
    {{ settingsform.asp }}

    <h2>List Preferences Overview</h2>
    <p><em class="errorlist">Sample output: not real</em></p>
    <input id="btnHide" type="button" value="{% trans "Hide Descriptions" %}"/>
    <form action="#"> {% csrf_token %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>{% trans "Setting" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Set all" %}</th>
            <th>list1@example.com</th>
            <th>kumquat@example.com</th>
            <th>starfruit@example.com</th>
        </tr>
        <tr>
            <th>{% trans "Mail delivery" %} ({{ preference }})</th>
            <td>Set this option to <em>Enabled</em> to receive
messages posted
        to this mailing list.  Set it to <em>Disabled</em> if you want
        to stay subscribed, but don't want mail delivered to you for a
        while (e.g. you're going on vacation).  If you disable mail
        delivery, don't forget to re-enable it when you come back; it
        will not be automatically re-enabled." </td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
        </tr>
    {% for preference in mm_user.preferences %}
    {% endfor %}
        <tr>
            <th colspan="6">{% trans "Per-Email subscriptions" %}</th>
        </tr>
        <tr>
            <th colspan="2">anna@example.com</th>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
        <tr>
        </tr>
    </table>
    </form>
{% endblock main %}
~                      
