{% extends postorius_base_template %}
{% load i18n %}
{% load bootstrap_tags %}
{% load nav_helpers %}

{% block subtitle %}
{% trans 'Subscription settings' %} | {{ user.username }}
{% endblock %}

{% block main %}

    {% user_nav 'settings' 'Subscription settings' %}

    <ul class="nav nav-tabs margin-bottom">
        <li class="active"><a>{% trans 'Global Mailman preferences' %}</a></li>
        <li><a href="{% url 'user_address_preferences' %}">{% trans 'Address-based preferences' %}</a></li>
        <li><a href="{% url 'user_subscription_preferences' %}">{% trans 'Subscription-based preferences' %}</a></li>
    </ul>

    {% if not mm_user %}
        <div>
            <h1>{% trans 'No preferences available' %}</h1>
        </div>
        <p>{% trans 'You are not yet subscribed to any lists, so you have no Mailman preferences.' %}</p>
    {% else %}
        <form action="{% url 'user_mailmansettings' %}" method="post" class="form-horizontal">
            {% render_form_horizontal settingsform 3 8 'Save changes' %}
        </form>
    {% endif %}

{% endblock main %}
