{% extends postorius_base_template %}
{% load i18n %}
{% load bootstrap_tags %}
{% load nav_helpers %}

{% block subtitle %}
{% trans 'Profile' %} | {{ user.username }}
{% endblock %}

{% block main %}

    {% user_nav 'profile' 'User Profile' %}

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>{% trans 'Mailman display name' %}</td>
                <td>{{ mm_user.display_name }}</td>
            </tr>
            <tr>
                <td>{% trans 'Username' %}</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>{% trans 'Main email' %}</td>
                <td>{{ user.email}}</td>
            </tr>
            {% if user.other_emails %}
                <tr>
                    <td>{% trans 'Other emails' %}</td>
                    <td><ul class="unstyled">
                        {% for email in user.other_emails %}
                            <li>{{ email }}</li>
                        {% endfor %}
                    </ul></td>
                </tr>
            {% endif %}
            <tr>
                <td></td>
                <td>
                    <p>
                        {% blocktrans %}
                            You can add other addresses to your profile,
                            to use different addresses for your subscriptions.
                        {% endblocktrans %}
                    </p>
                    <form class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                        {% endif %}

                        <div class="input-group col-sm-5">
                            {{ form.email|add_form_control }}
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>

                        {% for error in form.email.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <form class="form-horizontal" action="" method="post">
        {% render_form_horizontal name_form 2 5 'Change display name' %}
        <input type="hidden" name="formname" value="displayname" />
    </form>
{% endblock main %}
