{% extends postorius_base_template %}
{% load i18n %}
{% load bootstrap_tags %}
{% load nav_helpers %}

{% block subtitle %}
{% trans 'Profile' %} | {{ user.username }}
{% endblock %}

{% block main %}

    {% user_nav 'profile' 'User Profile' %}

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>{% trans 'Mailman display name' %}</th>
                <td>
                  <form class="form-inline" action="" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                          {{ name_form.display_name|add_form_control }}
                      </div>
                      <input type="hidden" name="formname" value="displayname" />
                      <button class="btn btn-primary"
                              type="submit">{% trans 'Update' %}</button>
                  </form>
                </td>
            </tr>
            <tr>
                <th>{% trans 'Username' %}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{% trans 'Main email' %}</th>
                <td>{{ user.email}}</td>
            </tr>
            {% if user.other_emails %}
                <tr>
                    <th>{% trans 'Other emails' %}</th>
                    <td>
                        {% for email in user.other_emails %}
                            <p>&bull; {{ email }}</p>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td></td>
                <td>
                    <p>
                        {% blocktrans %}
                            You can add other addresses to your profile,
                            to use different addresses for your subscriptions.
                        {% endblocktrans %}
                    </p>
                    <form class="form-inline" action="" method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                        {% endif %}

                        <div class="form-group">
                            {{ form.email|add_form_control }}
                        </div>

                        {% for error in form.email.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">
                          {% trans 'Add' %}
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock main %}
