{% extends postorius_base_template %}
{% load i18n %}
{% load nav_helpers %}

{% block subtitle %}
{% trans 'Profile' %} | {{ user.username }}
{% endblock %}

{% block main %}

    {% user_nav 'profile' 'User Profile' %}

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>{% trans 'Mailman display name' %}</td>
                <td>{{ mm_user.display_name }}</td>
            </tr>
            <tr>
                <td>{% trans 'Username' %}</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>{% trans 'Main email' %}</td>
                <td>{{ user.email}}</td>
            </tr>
            <tr>
                <td>{% trans 'Other emails' %}</td>
                <td><ul class="unstyled">
                    {% for email in user.other_emails %}
                        <li>{{ email }}</li>
                    {% endfor %}
                </ul></td>
            </tr>
        </tbody>
    </table>

{% endblock main %}
