/** 
Colors:

grey:       #727682

light_blue  #cfdcec → rgba(207, 220, 236, 0.6)
blue        #186aaf → rgba(24, 106, 175, 1)
dark_blue   #40486f

**/

body {
    color:#40486f;
}

div#logo {
    height:153px;
    width:244px;
    background-image: url("./logo2010.png");
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6 {
    color:#727682;
    font-family:Trebuchet, Helvetica;
}

ul {
    list-style-type:none;
}
#content ul {
    list-style-type:disc;
}
