/** 
Colors:

grey:       #727682

light_blue  #cfdcec → rgba(207, 220, 236, 0.6)
blue        #186aaf → rgba(24, 106, 175, 1)
dark_blue   #40486f
**/
@media screen, projection {

/*************************
 * Reset 
 *************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

/*************************
 * Fonts
 *************************/
body {
	font-family: Arial, sans-serif;
	font-size: 81.3%;
	color: #40486f;
}
h1 {
	font-weight: normal;
    font-size: 1.846em;
    color: #99CCFF;
    margin: 20px 0;
}
h2 {
	font-weight: normal;
    font-size: 1.385em;
    margin: 10px 0;
}
a,
a:visited,
a:hover {
    color: #4c637b;
}
a:hover {
    text-decoration: none;
}


div#logo {
    height:153px;
    width:244px;
    background-image: url("./logo2010.png");
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6 {
    color:#727682;
    font-family:Trebuchet, Helvetica;
}

ul {
    list-style-type:none;
}
/*************************
 * Structure 
 *************************/
#page {
    position: relative;
	width: 800px;
	margin: 20px auto;
	font-size: 1em;
    padding-top: 100px;
}
#logo {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 185px;
    height: 80px;
    background: #fff url('../img/mailman_logo.png') no-repeat top right;
}
p {
    margin: 0 0 20px 0;
}

/*************************
 * Tables
 *************************/
table {
	width: 100%;
	border: 1px solid #b2b2b2;
    border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
th {
	text-align: left;
	padding: 4px 15px 4px 5px;
	font-weight: normal;
	text-shadow: 0 1px silver;
    background-color: #e8e8e8;
}
td {
	border-top: 1px solid #b2b2b2;
	padding: 4px;
}

}

#message {
    background-color:rgba(207, 220, 236, 0.6);
    border:1px solid rgba(24, 106, 175, 1);
    padding:3px;
    border-radius:5px;
}

#error {
    background-color:rgba(255, 0, 0, 0.2);
    border:1px solid rgba(255, 0, 0, 1);
    padding:3px;
    border-radius:5px;
}

@media screen and (max-width: 600px) {
}
