/** Optional CSS to use the site with Tabbed navigaiton on the left-side**/

div.menu {
    width:20%;
    float:left;
}

#content{
    width:80%;
    float:left;
}

.menu ul div{
    display:none;
}

.menu ul li {
    padding:15px 10px 15px 20px;
    box-shadow: 5px 5px 2px #888;
    width:60%;
    margin:5%;
    background-color:rgba(72,76,82, 0.1);
    font-weight:bold;
}

.menu ul li:hover {
    background-color:rgba(207, 220, 236, 0.6);
}
