<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Mailman</title>

	<link rel="stylesheet" href="/mailman-django/css/layout.css" type="text/css" charset="utf-8" />	

	<script type="text/javascript" src="/mailman-django/js/lib/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/mailman-django/js/app/jquery.mm_fieldsets.js"></script>
	<script type="text/javascript" src="/mailman-django/js/app/documentready.js"></script>

</head>

<body>

	<div id="page">

        <a id="logo" href="{% url list_index %}"></a>

		<div id="content">
			<p>This is a draft of a Mailman3 django client. It's not a finished design. For now you can view a <a href="{% url list_index %}">list</a> of existing mailing lists, you can <a href="{% url list_new %}">create</a> new lists and you can subscribe to lists.</p>

        	{% block content %}{% endblock %}

		</div>
    </div>



</body>
</html>
