{% extends "mailman-django/base.html" %}
{% load i18n %}

{% block heading %}
    {% trans "Domain Index" %}
{% endblock %}

{% block header %}
    <div class="mm_box mm_clear">
        <div class="mm_boxHeader">{% trans "About" %}</div>
            This site allows to register a new Domain, due to restriction in the REST API we can't delete them here yet. Please modify the Mailman DB directly if you need to remove a Domain. If interested take a look at the <a href="https://bugs.launchpad.net/mailmanwebgsoc2011/+bug/799689"> Launchapd Bug Report.</a> In addition we can't modify them yet.
        </p>
    </div>
{% endblock %}
{% block actionButtonsList %}
    <ul class="mm_actionButtons">
        <li class="mm_new_domain"><a href="{% url domain_new %}">{% trans "New Domain" %}</a></li>
        {% if not domain == "unregistered Domain" %}
        <li class="mm_delete_domain">
            <a href="#missing_REST_function">{% trans "Delete Domain" %}</br>
            {{domain}}
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock %}        

{% block smallBoxLeft %}
    {% for domain in domains %}
    <div class="mm_box mm_smallBox {% cycle 'mm_clear' '' %}">
        <div class="mm_boxHeader">{{ domain.contact_address }} (<a href="http://{{ domain.base_url }}">{{ domain.base_url }}</a>)</div>
        {% if domain.description %}
            {{ domain.description }}
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}
