{% extends extend_template %}
{% load i18n %}

{% block heading %}
    {% trans "Login Required" %}
{% endblock %}

{% block header %}
    <div class="mm_box">
        <div class="mm_boxHeader">{% trans "Login required" %}</div>
        <p>{% trans "You are required to login to continue. Please provide a valid email address and a password." %}</p>
    </div>
    <div class="mm_box">
        <div class="mm_boxHeader">{% trans "Loginform" %}</div>
        <form action="" method="post" class="login">
            {{ form.as_div }}
            <div class="field">
                <button type="submit">{% trans "Login" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
