{% extends extend_template %}
{% load i18n %}


{% block heading %}
    {% ifequal tab "membership"%}
        {% trans "Membership Settings" %} 
        {% if list %}<span>{% trans "for"%}{% endif %} {{ list.fqdn_listname }}</span>
    {% else %}
        {% trans "User Settings" %}
    {% endifequal %}
{% endblock %}

{% block actionButtonsList %}
    <ul class="mm_actionButtons">
        <li class="mm_user_settings" ><a href="{% url user_settings %}">{% trans "User Settings" %}</a></li>
        <li class="mm_membership_tab"><a href="{% url membership_settings fqdn_listname=list.fqdn_listname %}">{% trans "Membership Settings" %}</a></li>
    </ul>
{% endblock %}

    {% block header %}
    <div class="mm_box">
        <div class="mm_boxHeader">
        {% trans "Content" %}
        </div>  
        <p>{%trans "This page only shows the values which will be available at this place once <a href='https://bugs.launchpad.net/mailman/+bug/821438' >LP:821438</a> is solved" %}</p>
        {% if form %}
        <form action="" method="post" class="user" name="user">
        <ul class="">
            {{ form.as_div }}
            <li class="field">
                <button type="submit">{% trans "Save changes" %}</button>
            </li>
        </ul>
        </form>
        {% else %}
        <ul>
            {% for list in membership_lists %}
            <li><a href="{% url membership_settings fqdn_listname=list.fqdn_listname%}">{{ list.fqdn_listname}} </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
