{% extends extend_template %}
{% load i18n %}


{% block heading %}
    {% ifequal tab "membership"%}
        {% trans "Membership Settings" %} 
        {% if list %}<span>{% trans "for"%}{% endif %} {{ list.fqdn_listname }}</span>
    {% else %}
        {% trans "User Settings" %}
    {% endifequal %}
{% endblock %}

{% block header %}
    <div class="mm_box mm_clear">
        <div class="mm_boxHeader">
        {% trans "Content" %}
        </div>  
        <p>{%trans "Use this page to manage your account. You'll be able to see a list of your subscirbed lists, modify these membership settings of the list and your personal preferences in user_settings <a href='https://bugs.launchpad.net/mailman/+bug/821438' >LP:821438</a> is solved <br>" %}</p>
        {% if form %}
            <form action="" method="post" class="user" name="user">
            <ul class="">
                {{ form.as_div }}
                <li class="field">
                    <button type="submit">{% trans "Save changes" %}</button>
                </li>
            </ul>
            </form>
        {% endif %}
    </div>
{% endblock %}
{% block smallBoxLeft %}
    {% if membership_lists %}
        {% for list in membership_lists %}
        <div class="mm_box mm_smallBox {% cycle 'mm_clear' '' %}">
            <div class="mm_boxHeader">{{ list.real_name }} {% if not list.settings.advertised %}(non-public){% endif %}</div>
            <ul>
                <li><a href="{% url membership_settings fqdn_listname=list.fqdn_listname%}"> My Membership</li>
                <li><a href="#TODO"> 
                <!--url subscriptions fqdn_listname=list.fqdn_listname-->
                My Subscription</li>
                <li><a href="{% url list_summary fqdn_listname=list.fqdn_listname%}"> List Summary</li>
            </ul>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
