{% extends "mailman-django/base.html" %}
{% load i18n %}


{% block content %}
{% ifequal tab "membership"%}
    <h1>{% trans "Membership Settings" %} {% if listname %}{% trans "for"%}{% endif %} {{ listname }}</h1>
{% else %}
    <h1>{% trans "User Settings" %}</h1>
{% endifequal %}
<div id="{{ tab }}" class="{{ tab }}">

<ul id="tabs">
    <li id="user_tab" class="user"><a href="{% url user_settings member %}">{% trans "User Settings" %}</a></li>
    <li id="membership_tab" class="membership"><a href="{% url membership_settings member %}">{% trans "Membership Settings" %}</a></li>
</ul>

<p id=logout><a href="{% url logout %}">Logout</a></p>

<p>This page visualizes the user/membership settings. Currently the page is not connected to the rest server so the settings will not be saved when changing them. However, this gives an idea of what the settings page could look like.</p>


{% if message %}
    <p id="message">{{ message }}</p>
{% endif %}


{% if form %}
<form action="" method="post" class="user" name="user">
<ul class="form_ul">
    {{ form.as_ul }}
    <li class="field">
        <button type="submit">Save changes</button>
    </li>
</ul>
</form>
{% else %}
<ul>
{% for list in membership_lists %}
<li><a href="{% url membership_settings member %}?list={{ list.fqdn_listname }}">{{ list.fqdn_listname}} </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}