{% extends "postorius/base.html" %}
{% load url from future %}
{% load i18n %}

{% block subtitle %}
{% trans "Confirm Remove Role | " as page_title %}{{ page_title|add:address}}
{% endblock %}

{% load nav_helpers %}

{% block main %}
    <h1>{% trans 'Confirm Remove Role' %}</h1>
    <p>{% trans "Are you sure you want to remove?" %}</p>
    <form method="post" action="{% url 'remove_role' list_id role address %}">
      {% csrf_token %}
        <button class="btn btn-danger" type="submit">{% trans "Remove " %}{{ address }}</button>
        <a class="btn" href="{% url 'list_members' list_id %}">{% trans "Cancel" %}</a>
    </form>
{% endblock main %}
