{% extends "postorius/base.html" %}
{% load url from future %}
{% load i18n %}
{% load nav_helpers %}

{% block body_class %}list_summary{% endblock %}

{% block main %}
    {% list_nav 'list_held_messages' 'Held Messages' %}

    <table class="table table-bordered table-striped">
    	<thead>
    		<tr>
    			<th>{% trans 'Subject' %}</th>
    			<th>{% trans 'Sender' %}</th>
    			<th>{% trans 'Reason' %}</th>
    			<th>{% trans 'Hold Date' %}</th>
                <th>&nbsp;</th>
    		</tr>
    	</thead>
    	<tbody>
            {% for msg in list.held %}
    		<tr>
    			<td>{{ msg.subject }}</td>
    			<td>{{ msg.sender }}</td>
    			<td>{{ msg.reason }}</td>
    			<td>{{ msg.hold_date }}</td>
                <td class="mm_action">
                    <a href="{% url 'accept_held_message' list.fqdn_listname msg.id %}" class="btn btn-mini btn-success">{% trans 'Accept' %}</a>
                    <a href="{% url 'defer_held_message' list.fqdn_listname msg.id %}" class="btn btn-mini btn-warning">{% trans 'Defer' %}</a>
                    <a href="{% url 'reject_held_message' list.fqdn_listname msg.id %}" class="btn btn-mini btn-danger">{% trans 'Reject' %}</a>
                    <a href="{% url 'discard_held_message' list.fqdn_listname msg.id %}" class="btn btn-mini btn-danger">{% trans 'Discard' %}</a>
                </td>
                </td>
    		</tr>
            {% endfor %}
    	</tbody>
    </table>

  
{% endblock %}
