{% extends "postorius/base.html" %}
{% load i18n %}

{% block main %}
    {% if user.is_superuser %}
        <ul class="mm_nav">
            <li class="mm_new_list"><a class="btn btn-mini btn-success" href="{% url list_new %}">{% trans "New List" %}</a></li>
        </ul>    
    {% endif %}
    <h1>{% trans 'Lists' %}</h1>

    <table class="table table-bordered table-striped">
    	<thead>
    		<tr>
    			<th>{% trans 'List name' %}</th>
    			<th>{% trans 'List address' %}</th>
    			<th>{% trans 'Description' %}</th>
    		</tr>
    	</thead>
    	<tbody>
            {% for list in lists %}
    		<tr>
    			<td>
                    <a href="{% url list_summary fqdn_listname=list.fqdn_listname %}">{{ list.display_name }}</a>
                </td>
    			<td>{{ list.fqdn_listname }}</td>
    			<td>{{ list.settings.description }}</td>
    		</tr>
            {% endfor %}
    	</tbody>
    </table>
{% endblock main %}
