{% extends postorius_base_template %}
{% load i18n %}
{% load nav_helpers %}

{% block main %}
    {% list_nav 'mass_removal' "Mass Removal" %}

    <form action="{% url 'mass_removal' list.list_id %}" method="post" class="well"> {% csrf_token %}
    {{ form.as_p }}   
    <hr />
    <button class="btn btn-warning" type="submit">{% trans "Unsubscribe users" %}</button>    
    <a style="float:right" href="{% url 'unsubscribe_all' list.list_id %}" class="btn btn-danger">{% trans 'Unsubscribe All' %}</a>
    </form>
    <hr />

{% endblock main %}
