{% extends postorius_base_template %}
{% load i18n %}
{% load bootstrap_tags %}
{% load nav_helpers %}

{% block subtitle %}
{% trans 'Mass Subscribe' %} | {{ list.fqdn_listname }}
{% endblock %}

{% block main %}

    {% list_nav 'mass_subscribe' 'Mass Subscription' %}

    <form action="{% url 'mass_subscribe' list.list_id %}" method="post" class="form-horizontal">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="form-group {% if form.emails.errors %}has-error{% endif %}">
            {% if form.emails.errors %}
                <div class="alert alert-danger">{{ form.emails.errors }}</div>
            {% endif %}
            <label class="control-label col-md-2" for="{{ form.emails.id_for_label }}">{{ form.emails.label }}</label>
            <div class="col-md-8">{{ form.emails|add_form_control }}</div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-primary" type="submit">{% trans 'Subscribe users' %}</button>
            </div>
        </div>
    </form>

{% endblock main %}
