{% extends postorius_base_template %}
{% load i18n %}
{% load nav_helpers %}
{% load bootstrap_tags %}

{% block subtitle %}
{% trans 'Member Options' %} | {{ user.username }}
{% endblock %}

{% block main %}
    {% list_nav 'list_members' 'Member Options' %}
    {% if not user.is_superuser and not user.is_list_owner %}
        <h1>{% trans 'No Preferences Available' %}</h1>
        <p>{% trans 'You are not the owner for this list' %}</p>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading"><h1 class="panel-title">{% trans 'Preferences for Member' %} {{ mm_member.email }}</h1></div>
            <div class="panel-body">
                <form  action="" method="post" >
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" border="2">
                            <thead>
                                <tr>
                                    <th class="col-md-10">{% trans 'Preference' %}</th>
                                    <th class="col-md-2">{% trans 'Setting' %} </th>
                                </tr>
                            </thead >
                           {% for field in settingsform %}
                           <tr>
                                <td>
                                    <p>{{ field.label_tag }}</p>
                                    <span id="help-{{ field.label }}" class="help-block">
                                        {{ field.help_text }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    {% if field|fieldtype == 'RadioSelect' %}
                                        {% for choice in field %}
                                            <label class="radio-inline">
                                                {{ choice.tag }}
                                                {{ choice.choice_label }}
                                            </label>
                                        {% endfor %}
                                    {% else %}
                                        {{ field|add_form_control }}
                                    {% endif %}
                                </td>
                           </tr>
                           {% endfor %}
                        </table>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">{% trans 'Save' %}</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock main %}
