{% extends "postorius/base.html" %}
{% load url from future %}
{% load i18n %}

{% block main %}
    {% if user.is_superuser %}
        {% include 'postorius/menu/list_nav.html' %}
    {% endif %}

    <h1>{% trans "List members" %}</h1>

    <table class="table table-bordered table-striped">
        <thead>
    		<tr>
    			<th>{% trans 'Address' %}</th>
    			<th>{% trans 'Role' %}</th>
                <th>&nbsp;</th>
    		</tr>
        </thead>
    	<tbody>
            {% for member in list.members %}
                <tr>
                    <td>{{ member.address }}</td>
                    <td>{% trans member.role %}</td>
                    <td>
                        <a href="{% url 'list_unsubscribe' list.fqdn_listname member.address %}" class="btn btn-mini btn-danger">{% trans 'Unsubscribe' %}</a>
                    </td>
                </tr>
            {% endfor %}
    	</tbody>
    </table>

{% endblock main %}
