{% extends "mailman-django/base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "All mailing lists" %}</h1>

<table cellpadding="0" cellspacing="0">
	<tr>
		<th>{% trans "Real Name" %}</th>
		<th>{% trans "List Name" %}</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<!--<th>&nbsp;</th>-->
	</tr>
{% for list in lists %}
	<tr>
		<td>{{ list.real_name }}</td>
		<td>{{ list.fqdn_listname }}</td>
		<td>
            <a href="{% url list_info list.fqdn_listname %}">Info / Subscribe</a>
        </td>
        <td>
            <a href="{% url list_delete list.fqdn_listname %}">Delete list</a>
        </td>
        <!--Not sure where to add the list settings link to let users know this page exists. Should be moved to better location but I didn't know where.
        <td>
            <a href="{% url list_settings list.fqdn_listname %}">View the list settings page</a>
        </td>-->
	</tr>
{% endfor %}
</table>
{% endblock %}
