{% extends "mailman-django/base.html" %}
{% load i18n %}

{% block heading %}
    All available Lists <span>on {{domain}}</span>
{% endblock %}

{% block smallBoxLeft %}
    {% for list in lists %}
    <div class="mm_box mm_smallBox mm_smallBoxLeft">
        <div class="mm_boxHeader">{{ list.real_name }}</div>
            <ul>
                <li><a href="{% url list_subscriptions fqdn_listname=list.fqdn_listname %}">{%trans "Subscriptions" %}</a></li>
                <li><a href="{% url list_summary fqdn_listname=list.fqdn_listname %}">{%trans "Info" %}</a></li>
                <li><a href="{% url list_settings list.fqdn_listname %}">{%trans "Settings" %}</a></li>
                <li><a href="{% url list_delete list.fqdn_listname %}">{%trans "Delete list" %}</a></li>
        </ul>
    </div>
    {% endfor %}
{% endblock %}

{% block header %}
    <div class="mm_box">
        <div class="mm_boxHeader">{% trans "About" %}</div>
        {% trans "list_index site shows all available lists, either on the registered Domain or the whole server. Please bare in mind that we can only show public advertised lists."%}
    </div>
{% endblock %}

{% block actionButtonsList %}
    <ul class="mm_actionButtons">
        <li class="mm_subscribe"><a href="{% url list_new %}">{% trans "Create new List" %}</a></li>
    </ul>    
{% endblock %}
