{% extends "mailman-django/base.html" %}
{% load i18n %}

{% block heading %}
    {% trans "Mass Subscribe Users <span> to" %} {{list.fqdn_listname}}</span>
{% endblock %}

{% block header %}
    <div class="mm_box">
        <div class="mm_boxHeader">{% trans "Form" %}</div>

        <p>{% blocktrans %}Here you can mass subscribe users to the list    <em>{{ list.fqdn_listname }}</em>. To do so, please enter one name on each row.{% endblocktrans %}</p>

        <form action="{% url mass_subscribe list.fqdn_listname %}" method="post" class="mass_subscribe">

        {{ form.as_div }}

            <div class="field">
                <button type="submit">{% trans "Subscribe users" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
