{% extends "mailman-django/base.html" %}
{% load i18n %}

{% block links%}
{% blocktrans with url_list_info=url.list_info.fqdn_listname url_list_delete=url.list_delete.fqdn_listname url_mass_subscription=url.mass_subscribe.fqdn_listname%}
You can also <a href="{{url_list_info}}">subscribe or unsubscribe</a> a user to the list "the normal way" or <a href="{{url_list_delete}}">delete</a> the list. If you wish to mass subscribe users to this list, please click <a href="{{url_mass_subcription}}">here</a>.
{% endblocktrans %}
{% endblock %}

{% block content %}

<h1>{% trans "List Settings for " %}{{ fqdn_listname }}</h1>

<p id=logout><a href="{% url logout %}">Logout</a></p>

<p>{% trans "This page visualizes all list settings. Currently the page is not connected to the rest server so the settings will not be saved when changing them. However, this gives an idea of what the settings page could look like."</p>


{% if message %}
    <p id="message">{{ message }}</p>
{% endif %}

<form action="{% url list_settings fqdn_listname %}" method="post" class="list_settings">

{{ form.as_div }}

    <div class="field">
        <button type="submit">{%trans "Save changes" %}</button>
    </div>

</form>

{% endblock %}
