{% extends extend_template %}
{% load i18n %}

{% block heading %}
    {{list.list_name}} <span>{{list.real_name}}</span>
{% endblock %}

{% block header %}
{% if visible_section %}
    <div class="mm_box mm_clear">
        <div class="mm_boxHeader">{% trans "List Settings " %}{{ fqdn_listname }}<br>
        </div>
        <p>{% trans "This page visualizes all list settings. This gives an idea of what the settings page could look like." %}</p>

        <form action="{% url list_settings fqdn_listname=list.fqdn_listname visible_section=visible_section visible_option=visible_option %}" method="post" class="list_settings">
        {{ form.as_div }}
            <div class="field">
                <button type="submit">{%trans "Save changes" %}</button>
            </div>
        </form>
    </div>
{% endif %}
{% endblock %}

{% block smallBoxLeft %}
    {% for section in form_sections %}
    <div class="mm_box mm_smallBox {% cycle 'mm_clear' '' %}">
        <div class="mm_boxHeader"><a href="{% url list_settings fqdn_listname=list.fqdn_listname visible_section=section.0 visible_option=None %}">{{section.0}}</a></div>
        {{section.1}}
    </div>
    {% endfor %}
{% endblock %}        


{% block actionButtonsList %}
    <ul class="mm_actionButtons">
        <li class="mm_list_summary"><a href="{% url list_summary list.fqdn_listname %}">{% trans "List Summary" %}</a></li>
        <li class="mm_delete_list"><a href="{% url list_delete list.fqdn_listname %}">{% trans "Delete List" %}</a></li>
        <li class="mm_mass_subscribe"><a href="{% url mass_subscribe list.fqdn_listname %}">{% trans "Mass Subscribe to List" %}</a></li>
    </ul>    
{% endblock %}
