{% extends "mailman-django/base.html" %}
{% load i18n %}

{% block content %}

<h1>{{ fqdn_listname }} -- {{ listinfo.real_name }}</h1>

{% if form_subscribe %}
<form action="{% url list_subscriptions fqdn_listname %}" method="post" class="subscribe" name="subscribe">
    {{ form_subscribe.as_div }}
	<div class="field">
		<button type="submit">{% trans "Subscribe" %}</button>
	</div>

</form>
{% endif %}
{% if form_unsubscribe %}
<form action="" method="post" class="unsubscribe" name="unsubscribe">
    {{ form_unsubscribe.as_div }}
<!--
    <fieldset>

        <legend>{% trans "Unsubscribe from " %} "{{ listinfo.real_name }}"</legend>

        {{ unsubscribe.listname }}
        {{ unsubscribe.name }}
        
        <div class="field {{ unsubscribe.email.html_name }}">
            {{ unsubscribe.email.label_tag }}
            {{ unsubscribe.email}}
            {{ unsubscribe.email.errors }}
        </div>

    </fieldset>
-->
    <div class="field">
        <button type="submit">{% trans "Unsubscribe" %}</button>
    </div>

</form>
{% endif %}



{% endblock %}
