{% extends "mailmanweb/base.html" %}
{% load i18n %}

{% block main %}
    {% if user.is_superuser %}
        {% include 'mailmanweb/menu/list_nav.html' %}
    {% endif %}
    <h1>{{list.real_name}}</h1>

    <p><em>{{list.settings.description }}</em></h1>

    <h2>{% trans "Subscribe / Join this list" %}</h2>
    <form action="{% url list_subscriptions list.fqdn_listname %}" method="post" class="list_subscribe
mm_clear">
		{{subscribe_form.as_p}}
	</form>

    <h2>{% trans "Unsubscribe / Leave this list" %}</h2>
    <form action"url_unsubscribe" method="post">
		{{unsubscribe_form.as_p}}
    </form>
  
    <!--h2>{% trans "Edit list options" %}</h2>
    <form action"url_options" method="post" class="member_options
mm_clear">
    </form-->

{% endblock %}
