{% load url from future %}
{% load i18n %}

{% block menu_info %}
    {% trans "Info" %}
    <div><ul>
         <li{% if selected == "info_list" %}id="selected"{% endif %}>
            <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                {% trans "List" %} Link:TODO
            </a>
            <div><ul>
                 <li{% if selected == "description" %}id="selected"{% endif %}>
                    <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                        {% trans "Description" %} Link:TODO
                    </a>
                </li> 
                 <li{% if selected == "last_post_at" %}id="selected"{% endif %}>
                    <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                        {% trans "Last post at" %} Link:TODO
                    </a>
                </li>  
                <li{% if selected == "info_digest_last_sent" %}id="selected"{% endif %}>
                    <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                        {% trans "Last post at" %} Link:TODO
                    </a>
                </li>  
                <li{% if selected == "created at" %}id="selected"{% endif %}>
                    <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                        {% trans "Created at" %} Link:TODO
                    </a>
                </li>  
            </ul></div>
        </li>  
        <li{% if selected == "info_system" %}id="selected"{% endif %}>
            <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                {% trans "System" %} Link:TODO
            </a>
            <div><ul>
                 <li{% if selected == "info_mail_host" %}id="selected"{% endif %}>
                    <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                        {% trans "Mail Host" %} Link:TODO
                    </a>
                </li>  
                <li{% if selected == "info_web_host" %}id="selected"{% endif %}>
                    <a href="{% comment %}{% url ... %}TODO add List{% endcomment %}">
                        {% trans "Web Host" %} Link:TODO
                    </a>
                </li>  
            </ul></div>
        </li>  
    </ul></div>
{% endblock%}
