{% load url from future %}
{% load i18n %}
<div class="mm_subHeader">
    <span class="mm_context">{% trans 'Mailing Lists' %} &raquo; {{ list.fqdn_listname }}</span>
    <ul class="mm_nav">
        <li class="mm_list_summary"><a href="{% url 'list_summary' list.fqdn_listname %}">{% trans "Info" %}</a></li>
        <li class="mm_list_held_members"><a href="{% url 'list_members' list.fqdn_listname %}">{% trans "Members" %}</a></li>
        <li class="mm_list_held_messages"><a href="{% url 'list_held_messages' list.fqdn_listname %}">{% trans "Held Messages" %}</a></li>
        <li class="mm_list_metrics"><a href="{% url 'list_metrics' list.fqdn_listname %}">{% trans "Metrics" %}</a></li>
        <li class="mm_list_settings"><a href="{% url 'list_settings' list.fqdn_listname %}">{% trans "Settings" %}</a></li>
        <li class="mm_mass_subscribe"><a href="{% url 'mass_subscribe' list.fqdn_listname %}">{% trans "Mass Subscribe" %}</a></li>
        <li class="mm_delete_list"><a href="{% url 'list_delete' list.fqdn_listname %}">{% trans "Delete List" %}</a></li>
    </ul>    
</div>
