{% load url from future %}
{% load i18n %}
{% load nav_helpers %}
<div class="mm_subHeader">
    <span class="mm_context"><a href="{% url 'user_index' %}">{% trans 'Users' %}</a> &raquo; {{ mm_user.display_name }} &lt;{{ mm_user.first_address }}&gt;</span>
    <ul class="mm_nav">
        <li class="mm_nav_item"><a class="{% nav_active_class current 'user_summary' %}" href="{% url 'user_summary' mm_user.user_id %}">{% trans "User Info" %}</a></li>
        <li class="mm_nav_item"><a class="{% nav_active_class current 'user_delete' %}" href="">{% trans "Delete User" %}</a></li>
    </ul>
</div>
