{% load i18n %}
{% load nav_helpers %}

<ol class="breadcrumb">
    <li><a href="{% url 'user_profile' %}">{% trans 'Profile' %}</a></li>
    {% if title %}
    <li class="active">{{ title }}</li>
    {% endif %}
</ol>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#settings-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="settings-nav">
            <ul class="nav navbar-nav">
                <li class="{% nav_active_class current 'profile' %}"><a href="{% url 'user_profile' %}">{% trans 'Profile' %}</a></li>
                <li class="{% nav_active_class current 'settings' %}"><a href="{% url 'user_mailmansettings' %}">{% trans 'Subscription Settings' %}</a></li>
                <li class="{% nav_active_class current 'subscriptions' %}"><a href="{% url 'user_subscriptions' %}">{% trans 'Subscriptions' %}</a></li>
                <li class="{% nav_active_class current 'add_email' %}"><a href="{% url 'address_activation' %}">{% trans 'Add Email Address' %}</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-header">
    {% if current == 'user_profile' %}
        <h1>{% trans 'User Profile' %} <small>{{ user }}</small></h1>
    {% else %}
        <h2>{{ title }} {% if subtitle %}<small>{{ subtitle }}</small>{% endif %}</h2>
    {% endif %}
</div>
